node-red.json
[{"id":"5e200150.f097a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f8110adf.d8f748","type":"mqtt-broker","z":"","name":"broker","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77219357.74bcfc","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influxdb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://broker:8086","rejectUnauthorized":false},{"id":"f3f32348.37b17","type":"inject","z":"5e200150.f097a","name":"","topic":"devices/001/temp","payload":"45","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["b479bba4.06c568"]]},{"id":"27eb53ea.d92f2c","type":"mqtt in","z":"5e200150.f097a","name":"mqtt_subscriber","topic":"devices/#","qos":"0","datatype":"auto","broker":"f8110adf.d8f748","x":260,"y":440,"wires":[["482d6cc2.c0d2d4","689b01a1.44277","61912d5b.e2e434"]]},{"id":"c50b0622.612df8","type":"mqtt out","z":"5e200150.f097a","name":"mqtt_publisher","topic":"","qos":"","retain":"true","broker":"f8110adf.d8f748","x":720,"y":220,"wires":[]},{"id":"61912d5b.e2e434","type":"debug","z":"5e200150.f097a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":560,"wires":[]},{"id":"ab76fce4.0be8f","type":"inject","z":"5e200150.f097a","name":"","topic":"devices/002/temp","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["21c927a0.889e78"]]},{"id":"482d6cc2.c0d2d4","type":"influxdb out","z":"5e200150.f097a","influxdb":"77219357.74bcfc","name":"influxdb destination","measurement":"test","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"samhld","bucket":"mqtt","x":790,"y":440,"wires":[]},{"id":"689b01a1.44277","type":"debug","z":"5e200150.f097a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":520,"wires":[]},{"id":"cc627598.bb51a8","type":"python3-function","z":"5e200150.f097a","name":"PUB Influx LP","func":"# import datetime\n\nvalue = int(msg[\"payload\"])\ntopic_splits = msg[\"topic\"].split(\"/\")\n# timestamp = datetime.datetime.now().timestamp()\n# ts = round(timestamp)\n\nline = \"devices,device={0} temp={1}\".format(topic_splits[1], str(value))\n\nmsg[\"payload\"] = line\n\nreturn msg","outputs":1,"x":680,"y":140,"wires":[["c50b0622.612df8","b6c946ee.76feb8"]]},{"id":"b479bba4.06c568","type":"random","z":"5e200150.f097a","name":"","low":1,"high":"100","inte":"true","property":"payload","x":360,"y":140,"wires":[["cc627598.bb51a8"]]},{"id":"21c927a0.889e78","type":"random","z":"5e200150.f097a","name":"","low":1,"high":"100","inte":"true","property":"payload","x":360,"y":180,"wires":[["cc627598.bb51a8"]]},{"id":"450c664b.1c25c8","type":"influxdb in","z":"5e200150.f097a","influxdb":"77219357.74bcfc","name":"InfluxDB gets query from Python SUB","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"samhld","x":690,"y":380,"wires":[["c50b0622.612df8"]]},{"id":"8b0412b3.747a1","type":"python3-function","z":"5e200150.f097a","d":true,"name":"[Python SUB Get temp mean (Flux)","func":"splits = msg[\"topic\"].split(\"/\")\ndevice_id = splits\n\nflux = '(from(bucket: \"mqtt\")'\\\n            '|> range(start: -10m)'\\\n            '|> filter(fn: (r) => r._measurement == \"temperature\")'\\\n            f'|> filter(fn: (r) => r.host == \"{device_id}\")'\\\n            '|> filter(fn: (r) => r._field == \"usage_user\")'\\\n            '|> mean()'\\\n            '|> drop(columns: [\"_stop\",\"_start\",\"host\",\"cpu\"))._value'\n    \nnew_msg = dict()\nnew_msg[\"query\"] = flux\ntopic = '/'.join(splits[:2])+'/average'\nnew_msg[\"topic\"] = topic\nnew_msg[\"_topic\"] = topic\n\nreturn new_msg\n","outputs":3,"x":620,"y":300,"wires":[["c50b0622.612df8"],["450c664b.1c25c8"],["9ca5f5a8.c5cb38"]]},{"id":"9ca5f5a8.c5cb38","type":"debug","z":"5e200150.f097a","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":300,"wires":[]},{"id":"ac71838e.91618","type":"mqtt in","z":"5e200150.f097a","name":"SUB to processed data","topic":"/devices/+/temp/average","qos":"0","datatype":"auto","broker":"f8110adf.d8f748","x":280,"y":360,"wires":[["8b0412b3.747a1"]]},{"id":"b6c946ee.76feb8","type":"debug","z":"5e200150.f097a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":120,"wires":[]}]